* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.container {
    min-width: 800px;
    max-width: 1300px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 70px;
    background-image: linear-gradient(180deg,rgb(43, 6, 43),rgb(116, 18, 116));
}

.nav-1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 40px;
}
.nav-1 li {
    transition: margin-top font-size 0.2s ease;
}
.nav-1 li:hover {
    margin-top: -10px;
    font-size: 33px;
}
.nav-1 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 600;
}

section {
    width: 100%;
    display: flex;
    flex-direction: row;
}


.sidebar {
    flex: 20%;
    background-image: linear-gradient(90deg,rgb(204, 86, 1),rgb(189, 105, 45),rgb(197, 86, 6));
    height: 1200px;
}

.nav-2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px ;
    list-style-type: none;
    padding-top: 80px;
}
.nav-2 a {
    text-decoration: none ;
    color: aliceblue;
    font-size: 22px;
    font-weight: 700;
}
.nav-2 a:hover {
    text-decoration: underline;
}
.content {
    flex: 80%;
    height: 1200px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
}
.slide {
    width: 100%;
    height: 200px;
    /* background-color: red; */
}

.top-sale h3 {
    text-align: center;
    padding-top: 10px;
}

.digiMenu {
    /* animation: menu 0.5s ease; */
}

.sort-item {
    display: inline-block;
    width: 150px;
    height: 25px;
    z-index: 1;
    position: relative;
    border: 1px solid black;

}
.sort-item ion-icon {
    position: absolute;
    color: blueviolet;
    top: 3px;
    right: 5px;
}

.sort-item  ul {
    display: none;
    position: absolute;
    background-color: rgb(136, 124, 124);
    left: 0px;
    top: 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.sort-item span {
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
}
/* .sort-item:hover  ul {
    display: block;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: aliceblue;
} */
.sort-item  ul li {
    cursor: pointer;
    list-style: none;
    min-width: 123px;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.aa {
    /* overflow-y:scroll; */
    display: flex;
    width: 100%;
    padding: 10px;
    /* animation: menu 0.5s ease; */
    flex-wrap: wrap;
    gap: 6.6%;
}

.item {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    /* cursor: pointer; */
}
.item h6 {
    font-size: 14px;
    /* padding-bottom: 30px; */
}
.item .pic {
    width: 100%;
}

.pic a img {
    width: 100%;
    object-fit: cover;
}

footer {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(8, 7, 7);
}



@keyframes menu {
    0% {transform: translateY(200px);opacity: 0;}
    100% {transform: translateY(0);opacity: 1;}
}