
.table-hover:hover {
    color: orange !important;
    text-decoration: underline;
}

.popup p {
    margin-bottom: 5px;
    font-size: 13px;
}
.digiMenu {
    /* animation: menu 0.5s ease; */
    position: relative;
    z-index: 100;
}
.picture-item {
    transition: translateY 1s  ease 1s;
}
.picture-item:hover {
    transform: translateY(-20px);
}
.bi-box-arrow-in-right:hover {
    animation: item 0.5s ease 1s;
}

.box {
	position: relative;/*VERY IMPORTANT*/
	cursor: pointer;
}
.popup {
	position: absolute;/*VERY IMPORTANT*/
	left: -50px;
	top: 0px;
    z-index: 200;
}

@keyframes menu {
    0% {transform: translateY(200px);opacity: 0;}
    100% {transform: translateY(0);opacity: 1;}
}

@keyframes item {
    0% {transform: translateY(0);opacity: 1;}
    100% {transform: translateY(20px);opacity: 1;}
}